!!! 5
%html
  %head
    = Haml::Engine.new(File.read('_header.haml')).render(Object.new, :title => 'Mingsong Chen / Publications')
  %body
    .container#main-container
      .row#main-row
        .col-md-8
          %h1.page-header Publications
          %ul.nav.nav-pills#myTab
            %li.active
              %a(href="#journals")
                Journal Articles
            %li(role="presentation")
              %a(href="#conferences")
                Conferences & Workshops
            %li(role="presentation")
              %a(href="#books")
                Books
            %li(role="presentation")
              %a(href="#workshops")
                Patents & Software Copyrights
            -#%li(role="presentation")
            -#  %a(href="#preprints")
            -#    Software Copyrights
          .tab-content
            .tab-pane.active#journals
              .pitems
                = Haml::Engine.new(File.read('_journals.haml')).render(Object.new)

              %br
              %br
              %h4 Disclaimer
              %p
                The above publications are covered by copyright. Permission to make digital/hard copy of all or part of the following papers, technical reports, and presentations for personal or classroom use is granted without fee provided that copies are not made or distributed for profit or commercial advantage. To copy otherwise, to republish, to post on servers, or to redistribute to lists requires prior specific permission.
            .tab-pane#conferences
              .pitems
                = Haml::Engine.new(File.read('_conferences.haml')).render(Object.new)
              %br
              %br
              %h4 Disclaimer
              %p
                The above publications are covered by copyright. Permission to make digital/hard copy of all or part of the following papers, technical reports, and presentations for personal or classroom use is granted without fee provided that copies are not made or distributed for profit or commercial advantage. To copy otherwise, to republish, to post on servers, or to redistribute to lists requires prior specific permission.
            .tab-pane#books
              %h4 2012
              .pitems
                .item
                  .pubmain
                    .pubassets
                      %a(href="https://www.amazon.co.uk/System-Level-Validation-High-Level-Modeling-Generation/dp/1461413583" data-toggle="tooltip" data-placement="top" title="Open book" target="_blank")
                        %span.glyphicon.glyphicon-new-window
                    %img.pubthumb(src="images/covers/book-cm.jpg")
                    %h4.pubtitle
                      %a(href="https://www.amazon.co.uk/System-Level-Validation-High-Level-Modeling-Generation/dp/1461413583" target="_blank") System-Level Validation:High-Level Modeling and Directed Test Generation Techniques
                    .pubauthor
                      %strong Mingsong Chen,
                      Xiaoke Qin, Heon-mo Koo, and Prabhat Mishra.
                    .pubcite
                      %span.label.label-success Book 2
                      ISBN:978-1-4614-1358-5 | 2012 | Publisher: Springer
                  .item
                  .pubmain
                    .pubassets
                      %a(href="http://www.ozon.ru/context/detail/id/24828680/" data-toggle="tooltip" data-placement="top" title="Open book" target="_blank")
                        %span.glyphicon.glyphicon-new-window
                    %img.pubthumb(src="images/covers/bookRussian.jpg")
                    %h4.pubtitle
                      %a(href="http://www.ozon.ru/context/detail/id/24828680" target="_blank") Валидация на системном уровне. Высокоуровневое моделирование и управление тестированием
                    .pubauthor
                      %strong Mingsong Chen,
                      Xiaoke Qin, Heon-mo Koo, and Prabhat Mishra.
                    .pubcite
                      %span.label.label-success Book 1
                      ISBN:978-5-94836-365-3 | 2014 | Publisher: Texhocoepa
            .tab-pane#workshops
              .pitems
                = Haml::Engine.new(File.read('_workshops.haml')).render(Object.new)
            -#.tab-pane#preprints
            -#  .pitems
            -#    = Haml::Engine.new(File.read('_preprints.haml')).render(Object.new)
          %br
          %br
          <p style="text-align:center"><a title="Visitor Map for faculty.ecnu.edu.cn/s/223/t/1918/main.jspy" href="http://www.clustrmaps.com/map/faculty.ecnu.edu.cn/s/223/t/1918/main.jspy"><img src="//www.clustrmaps.com/map_v2.png?u=sd6U&amp;d=NTb93bY21G78sd9N9ishiRH_iFNHkmM2ukbgEeZjYQU"></a></p>
          <p style="text-align:center"><a href="http://www.web-stat.com"><img style="border-left-width:0px;border-right-width:0px;border-bottom-width:0px;border-top-width:0px;border-image:none" src="//server2.web-stat.com/6s/3/1041653.gif"></a></p>

        = Haml::Engine.new(File.read('_nav.haml')).render(Object.new, :page => "publications")

    %script(src="js/jquery.min.js")
    %script(src="js/bootstrap.min.js")
    :javascript
      $(function () {
        $('[data-toggle="tooltip"]').tooltip()
      })
    :javascript
      $('#myTab a').click(function (e) {
        e.preventDefault();
        $(this).tab('show');
      });

      $('ul.nav-pills > li > a').on('shown.bs.tab', function (e) {
        var id = $(e.target).attr('href').substr(1);
        window.location.hash = id;
      });

      var hash = window.location.hash;
      var orig = "";
      if ( hash.length > 1 && hash[1] == 'c' ) { orig = hash; hash = "#conferences"; }
      if ( hash.length > 1 && hash[1] == 'j' ) { orig = hash; hash = "#journals"; }
      console.log( hash );
      if ( hash.length > 0 ) {
        $('#myTab a[href="' + hash + '"]').tab('show');
        window.location = orig;
      }

      $('a.paper').click(function (e) {
        e.preventDefault();
        ga('send', 'event', 'Papers', 'view', $(this).attr('href'));
        window.location = $(this).attr('href');
      });
